.item {
    background-color: aqua;
    padding: 2px;
    border: 2px solid pink;
    width: 800px;
    margin: auto auto;
}
.lyrics_wrapper {
    height: 0;
    overflow: hidden;
    transition: height ease 0.75s;
}
.control {
    font-size: 20px;
    margin-left: 24px;
}

.lyrics {
    background-color: #f7f7f7;
    padding: 20px;
    white-space: pre-line;
}
.button {
    font-size: 16px;
    background-color: #008593;
    color: #fff;
    text-align: left;
    font-weight: 700;
    // display: flex;
    width: 100%;
    // justify-content: space-between;
    padding: 10px 8px;
    cursor: pointer;
    border: 2px solid pink;
    .buttonDesign {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .name {
            flex: 6;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .control {
            flex: 1;
            font-size: 20px;
            margin-left: 24px;
        }
    }
}
