.card {
    position: relative;
    width: 147px;
    min-height: 200px;
    border-radius: 8px;
    background: pink;
    border: 2px solid #30ccaf;
    &:hover{
        scale: 1.01;
    }
    h5 {
        text-align: left;
        letter-spacing: 0px;
        color: black;
        opacity: 1;
        font-style:italic;
        font-size: 12px;
        font-size: 8px;
    }
    p {
        text-align: left;
        letter-spacing: 0px;
        color: black;
        opacity: 1;
    }
    //table 1
    &.listenNow {
        background: pink;

    }
    //table 2
    &.madeForYou {
        background: orange;
        border: 2px solid #aba5a2;
        width: 120px;
        min-height: 120px;
    }
}
